@font-face {
    font-family: "XIV";
    src: url("../fonts/OPTIEngeEtienne.otf")
}

.jobList {
    font-family: "XIV";
    font-size: 60px;
    width: 870px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 15px;
}

.fond {
    background-color: rgba(255, 255, 255, 0.25);
}

.jobType {
    display: flex;
}

.jobWrapper {
    display: flex;
    margin: 15px;
    flex-wrap: nowrap;
}

.job {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    margin: 5px;
    height: 120px;
}

.jobIcon {
    width: 55px;
}

.lvl {
    margin-top: -20px;
    text-shadow: white 0px 0px 5px;
    transform: scale(1, .5);
}