@font-face {
    font-family: "XIV";
    src: url("../fonts/OPTIEngeEtienne.otf")
}

h2 {
    font-weight: lighter;
    margin: 0px;
    border-bottom: solid 2px #C0C0C0;
}

.none {
    display: none;
}

.jobList {
    font-family: "XIV";
    font-size: 60px;
    margin-top: 15px;
    display: inline-block;
}

.jobType {
    display: flex;
}

.infoWrapper {
    margin: 5px;
}

.jobWrapper {
    display: flex;
    margin: 15px;
    height: 130px;
    flex-wrap: nowrap;
}

.job {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 5px;
}

.jobIcon {
    width: 55px;
}

.lvl {
    margin-top: 0px;
}

.formLabel {
    font-size: 45px;
}



