@font-face {
    font-family: "XIV";
    src: url("../fonts/OPTIEngeEtienne.otf")
}

h2 {
    transform: scale(1, .5);
    font-weight: lighter;
    margin: 0px;
    border-bottom: solid 2px #C0C0C0;
}

.none {
    display: none;
}

.jobList {
    font-family: "XIV";
    font-size: 60px;
    display: flex;
    margin-top: 15px;
    height: 700px;
}

.jobType {
    display: flex;
}

.infoWrapper {
    margin: 5px;
}

.jobWrapper {
    display: flex;
    margin: 15px;
    height: 160px;
    flex-wrap: nowrap;
}

.job {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 5px;
}

.jobIcon {
    width: 55px;
}

.lvl {
    transform: scale(1, .5);
    margin-top: 0px;
}

.jobForm {
    background-color: rgb(238, 238, 238);
    padding: 10px;
    margin-left: 15px;
}


.formLabel {
    font-size: 45px;
}

.formLabeled {
    margin-bottom: 0px;
}

.colorPicker {
    position: absolute;
    z-index: 1;
}

.turn {
    transform: rotate(90deg);
}

#lvlFormSubmit {
    margin-left: 50px;
}