@font-face {
    font-family: "XIV";
    src: url("../fonts/OPTIEngeEtienne.otf")
}

.sheetForm {
    margin-bottom: 15px;
}

.myForm {
    display: flex;
    flex-direction: column;

    /*min-width: 450px;*/

    background-color: rgb(238, 238, 238);
    margin-top: 30px;
    padding: 10px;
}

.formInput {
    height: 35px;
    width: 100px;
    margin-top: 15px;
}

.formLabeled {
    display: flex;
    margin-right : auto;
    margin-left: auto;
}

.formLabel {
    font-family: "XIV";
    font-size: 2.5em;
    margin-right: 50px;
    transform: scale(1, .5);
}

.formSubmit {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(250, 250, 250);
    border-radius: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    cursor: pointer;
}

.jobs {
    display: flex;
}

.editor {
    width: 1000px;
    margin-top : 150px;
    margin-bottom: 50px;
    margin-right: auto;
    margin-left: auto;
}